{
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "printWidth": 120,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.yaml",
      "options": {
        "singleQuote": false,
        "tabWidth": 2
      }
    }
  ]
}
